<div class="main-content">
  <div class="section-content section-content-p30">

    <h4> {{ currentPageTitle }} </h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products-->
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">

            <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.image_url }}" class="img-responsive">
            </a>
            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>
            <div class="price">{{ tempProduct.unit_price | currency: 'EUR' }}</div>
            <button (click)="onAddToCart(tempProduct)" class="btn btn-primary btn-sm" >Add to cart</button>
          </div>
        </div>

        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>
      </div>
    </div>
    <!-- Page footer-->
    <div class="footer-pagination">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="row">

            <div class="col-md-9">
              <!-- [(page)]="thePageNumber"
                   this is banana the box, the 2 way data binding
                   Use two-way binding to listen for events and update values
                   simultaneously between parent and child components -->
              <ngb-pagination [(page)]="thePageNumber"
                              [pageSize]="thePageSize"
                              [collectionSize]="theTotalEmelents"
                              [maxSize]="4"
                              [boundaryLinks]="true"
                              (pageChange)="listProducts()">
              </ngb-pagination>
            </div>

            <!-- Page Size -->
            <div class="col-md-3 mt-2" style="text-align: right;">
              <label  class="mr-2">Page Size</label>
              <select #pageSizeSelect (change)="updatePageSize(+pageSizeSelect.value)">
                <option>2</option>
                <option selected="true">5</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
              </select>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
